<div>
  <h1>Hello. I'm Stock API</h1><br>
  <p>Welcome</p>
  <p1>Please Use Postman to test me.</p1>
</div>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?
family=Rubik&display=swap" rel="stylesheet">
<style>
    * {
        font-family: "Rubik", "sans-serif";
    }
    div {
        text-align: center;
        margin-top: 50px;
    }
    h1 {
        color: #254117;
        font-size: 40pt;
    }
    p {
        color: #493D26;
        font-size: 24pt;
    }
    p1 {
        color: #8C001A;
        font-size: 20pt;
    }
</style>
